body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 8%, rgba(18,9,121,1) 41%, rgba(141,0,255,1) 70%);
}
#oneone{
    position: absolute;
    right: 0%;
    color:lawngreen;
    text-decoration: none;
}